---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { EVENTOS } from "../../data/eventos.js";
const event = EVENTOS[1]; // Cambia el índice según el evento, o usa un campo dinámico

// Adaptar organizers2 (array de strings) a objetos con logo y nombre
const organizers = (event.organizers2 || []).map((logoPath, index) => ({
  logo: logoPath,
  name: `Organizador ${index + 1}`
}));
---
<BaseLayout title={event.title}>
  <main class="min-h-screen bg-white">
    <section class="max-w-5xl mx-auto px-4 py-16">
      

      <div class="mb-8 flex flex-col items-center">
        <!-- Opción 1: Quitar max-width completamente -->
        <div class="relative w-full">
          <img 
            id="carousel-img" 
            src={event.image[0]} 
            alt={event.title} 
            class="rounded-xl w-full border border-black/10 transition duration-500" 
          />
        </div>
        
        <!-- Indicadores -->
        <div class="flex mt-4 gap-2" id="carousel-indicators">
          {(event.image as string[]).map((_, i) => (
            <button 
              type="button" 
              class={`h-2 w-2 rounded-full ${i === 0 ? 'bg-celeste_aimara' : 'bg-gray-300'} transition cursor-pointer`} 
              data-index={i}
            ></button>
          ))}
        </div>
      </div>



      <!-- Script para lógica del carrusel -->
      <script is:inline define:vars={{ images: event.image }}>
        let currentIndex = 0;
        const imgEl = document.getElementById('carousel-img');
        const indicators = document.querySelectorAll('#carousel-indicators button');

        function updateImage(index) {
          currentIndex = index;
          if (imgEl && images[currentIndex]) {
            imgEl.src = images[currentIndex];
            
            // Actualizar indicadores
            indicators.forEach((dot, i) => {
              if (i === currentIndex) {
                dot.classList.remove('bg-gray-300');
                dot.classList.add('bg-celeste_aimara');
              } else {
                dot.classList.remove('bg-celeste_aimara');
                dot.classList.add('bg-gray-300');
              }
            });
          }
        }

        function initCarousel() {
          setInterval(() => {
            const nextIndex = (currentIndex + 1) % images.length;
            updateImage(nextIndex);
          }, 5000);

          indicators.forEach((dot, i) => {
            dot.addEventListener('click', () => {
              updateImage(i);
            });
          });

          updateImage(0);
        }

        if (document.readyState === 'loading') {
          document.addEventListener('DOMContentLoaded', initCarousel);
        } else {
          initCarousel();
        }
      </script>







      <div class="mb-8">
        <div class="flex flex-wrap gap-3 items-center mb-2">
          <span class="inline-block bg-celeste_aimara/20 text-celeste_aimara font-semibold px-3 py-0.5 rounded text-xs">{event.date}</span>
          <span class="text-gray-800 font-semibold text-sm">{event.time}</span>
          <span class="text-gray-400 text-sm">{event.location}</span>
        </div>
        <br>
        <!--<h1 class="text-3xl font-roboto font-bold text-gray-900 mb-1">{event.title}</h1> -->
        <div class="w-16 h-1 bg-celeste_aimara rounded mb-1"></div>
      </div>
      <p class="text-base text-gray-700 mb-10">{event.description}</p>
      
      <div class="mt-10 flex justify-end">
        <a href={event.registration2.url}
          target={event.registration2.url.startsWith("http") ? "_blank" : "_self"}
          class="px-8 py-2 rounded-full text-base font-medium border border-celeste_aimara text-celeste_aimara bg-white transition hover:bg-celeste_aimara hover:text-black shadow-sm">
          {event.registration2.label}
        </a>
      </div>

      <div class="mb-10">
        <h2 class="text-xl font-semibold text-celeste_aimara mb-4">Program </h2>
        
        <td class="py-3 px-4 whitespace-nowrap ">  <span class=" text-celeste_aimara">Thursday, July 10, 2025</span> </td>
        <div><br></div>
        <div class="rounded-xl border border-celeste_aimara/30 overflow-hidden shadow-sm mb-4 bg-white">
          <table class="min-w-full text-left text-sm">
            <tbody>
              {event.agenda.map(item => (
                <tr class=" hover:bg-celeste_aimara/5 transition">
                  <td class="py-3 px-4 font-semibold whitespace-nowrap">{item.hour}</td>
                  <td class="py-3 px-4 text-gray-800">
                    <div class="font-medium">{item.activity}</div>
                    {item.speaker && (
                      <div class="text-sm text-gray-500 mt-1">By <span class="font-semibold">{item.speaker}</span></div>
                    )}
                  </td>
                </tr>
              ))}
            </tbody>
          </table>
        </div>
      </div>
      <div class="mb-10">
      
        <td class="py-3 px-4 whitespace-nowrap ">  <span class=" text-celeste_aimara">Friday, July 11, 2025</span> </td>
        <div><br></div>
        <div class="rounded-xl border border-celeste_aimara/30 overflow-hidden shadow-sm mb-4 bg-white">
          <table class="min-w-full text-left text-sm">
            <tbody>
              {event.taller.map(item => (
                <tr class=" hover:bg-celeste_aimara/5 transition">
                  <td class="py-3 px-4 font-semibold whitespace-nowrap">{item.hour}</td>
                  <td class="py-3 px-4 text-gray-800">
                    <div class="font-medium">{item.activity}</div>
                    {item.speaker && (
                      <div class="text-sm text-gray-500 mt-1">By <span class="font-semibold">{item.speaker}</span></div>
                    )}
                  </td>
                </tr>
              ))}
            </tbody>
          </table>
        </div>
      </div>
      {event.speakers && event.speakers.length > 0 && (
        <div class="mb-10">
          <h2 class="text-xl font-semibold text-celeste_aimara mb-4">Speakers</h2>
          <div class="grid gap-6 md:grid-cols-1">
            {event.speakers.map(speaker => (
              <div class="flex items-center gap-4 bg-gray-50 rounded-xl p-4 border border-celeste_aimara/20">
                <img src={speaker.photo} alt={speaker.name} class="w-24 h-24 rounded-full object-cover" />
                <div>
                  <div class="font-bold text-gray-990">{speaker.name}</div>
                  <div class="text-gray-900 text-sm">{speaker.bio}</div>
                  <div class="text-gray-500 text-sm">{speaker.topic}</div>
                </div>
              </div>
            ))}
          </div>
        </div>
      )}
      
      
      <div class="mb-10">
        <h2 class="text-xl font-semibold text-celeste_aimara mb-2">Organicer</h2>
        <br />
        <div class="flex flex-wrap gap-4 items-center mb-6">
          {organizers.map(org => (
            <img
              src={org.logo}
              alt={org.name}
              title={org.name}
              class="h-16 object-contain rounded shadow-sm p-2 bg-white border"
            />
          ))}
        </div>
      </div>


      <div class="mb-10">
        <h2 class="text-xl font-semibold text-celeste_aimara mb-2">Location </h2>
        <br>
        <div class="mb-8 flex justify-center">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1466.266378512502!2d-71.3396016168527!3d-17.60159129865792!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91445dd3346fec63%3A0xa851cf98b8fe2003!2sEPISI%20-%20UNAM!5e0!3m2!1sen!2spe!4v1749681977705!5m2!1sen!2spe" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="rounded-xl border border-black/10"></iframe>
        </div>
      </div>

    </section>
  </main>
</BaseLayout>
