---
const { event } = Astro.props;
---

<article class="bg-white border border-black/20 rounded-2xl p-8 flex flex-col h-full transition ">
  <div class="flex flex-col gap-2 mb-2">
    <div class="flex flex-wrap gap-4 items-center">
      <span class="inline-block bg-celeste_aimara/20 text-celeste_aimara font-semibold px-3 py-0.5 rounded text-xs">{event.date}</span>
      <span class="text-gray-800 font-semibold text-sm">{event.time}</span>
      <span class="text-gray-400 text-sm">{event.location}</span>
    </div>
    <h2 class="text-xl font-roboto font-bold text-gray-900 mt-2 mb-1 tracking-tight">{event.title}</h2>
    <div class="w-10 h-1 bg-celeste_aimara rounded mb-2"></div>
  </div>

  <p class="text-gray-700 mb-6 text-sm line-clamp-3">{event.description}</p>


  <div class="border-t border-celeste_aimara/40 pt-4 mt-auto">
    <h3 class="text-base font-semibold text-celeste_aimara mb-2">Organizer</h3>
    <ul class="space-y-1 text-gray-700 text-sm list-disc pl-5">
      {event.organizers.map(org => <li>{org}</li>)}
    </ul>
    <div class="mt-6 flex">
      <a href={event.registration.url}
        class="px-7 py-2 rounded-full text-sm font-medium border border-celeste_aimara text-celeste_aimara bg-white transition hover:bg-celeste_aimara hover:text-black ml-auto">
        See more
      </a>
    </div>
  </div>
</article>
